:root {
    --cor-primaria: darkblue;
    --cor-primaria1: white;
    --main-image-width: 150px;
    --image-padding: 2px;
    --main-shadow: 0 0 30px gray;
    --default-margin: 1rem;
    --default-padding: 1rem;
    --footer-margin-top: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navegação */

nav {
    background-color: var(--cor-primaria);
    padding: 10px;
}

nav a {
    color: var(--cor-primaria1);
    display: block;
    padding: 20px;
}

/* HEADINGS */

h1 {
    color: var(--cor-primaria);
}

/* GENERAL IMAGES */

img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid black;
    padding: var(--image-padding);
    box-shadow: var(--main-shadow);
}

/* PARAGRAPHS */

p {
    padding: 0;
}

/* MAIN CONTENT */

main {
    max-width: 840px;
}

main img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid steelblue;
    padding: var(--image-padding);
    box-shadow: var(--main-shadow);
    float: right;
}

/* ASIDE */

aside {
    width: 20rem;
    margin: var(--default-margin);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--default-padding);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* aside.caixa{
    position: relative;
    display: inline-block;
}
aside.caixa img{
width: 100%;
display: block;
}
aside h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 40px;
} */

aside h2 {
  position: absolute;
  top: 685px;
  left: 137px;
  color: white;
}

/* FOOTER */

footer {
    margin-top: var(--footer-margin-top);
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Classe */
.caixa {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
